@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #3A5F56;
  border-radius: 6px;
  padding: 10px 18px;
  position: relative;
  top: 20px;
}

li {
  list-style: none;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__link {
  font-size: 16px;
  color: #3A5F56;
}
.header__link:hover {
  color: #292C32;
}
.header__item {
  margin-right: 30px;
}
.header__cart {
  display: flex;
  gap: 8px;
  position: initial;
}
.header__cart::before {
  content: "";
  background: url(../img/cart.svg);
  display: block;
  width: 17px;
  height: 17px;
}
.header__cart::after {
  content: "0";
  color: #3A5F56;
  background-color: #fff;
  padding: 0 6px;
  border-radius: 50%;
}

.main {
  background: url(../img/Frame.png) no-repeat center center/cover;
}
.main__wrap {
  display: flex;
  gap: 64px;
  align-items: center;
}
.main__title {
  font-size: 48px;
  color: #3A5F56;
  margin-bottom: 15px;
}
.main__title__text {
  color: #292C32;
  font-size: 16px;
  margin-bottom: 27px;
}

.conteiner2::before {
  content: "";
  background: url(../img/logo_2.svg);
  display: block;
  width: 160px;
  height: 19px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services {
  background: url(../img/services_logo.png) no-repeat center center/cover;
  padding: 100px;
}
.services__card {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.services__title-text {
  text-align: center;
  font-size: 22px;
  padding-bottom: 24px;
}
.services__title {
  position: relative;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 11px;
  color: #3A5F56;
}
.services__text {
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 17px;
}
.services__boxes {
  width: 379px;
  height: 304px;
  background: #F4F3F0;
  border-radius: 16px;
}
.services__boxes1 {
  margin-left: 16px;
  width: 379px;
  height: 304px;
  background: #F4F3F0;
  border-radius: 16px;
}
.services__boxes2 {
  width: 379px;
  height: 304px;
  background: #F4F3F0;
  border-radius: 16px;
  margin-right: 758px;
}
.services__read-link {
  color: #3A5F56;
  padding-left: 30px;
  padding-right: 7px;
}
.services__subtitle {
  color: #3A5F56;
  padding-top: 9px;
  padding-left: 30px;
}
.services__icon {
  padding-top: 30px;
  padding-left: 30px;
}
.services__read {
  display: flex;
}

.Preset {
  background: url(../img/preset_bg.png) no-repeat center center/cover;
  padding: 50px 0;
}
.Preset__card {
  display: flex;
  justify-content: center;
}
.Preset__title {
  color: #DB343B;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 11px;
}
.Preset__title-text {
  text-align: center;
  margin-bottom: 40px;
}
.Preset__box {
  width: 378px;
  height: 438px;
  background: #ffffff;
  border-radius: 16px;
}
.Preset__box1 {
  width: 378px;
  height: 438px;
  background: #ffffff;
  border-radius: 16px;
  margin-left: 16px;
}
.Preset__subtitle {
  color: #3A5F56;
  padding-top: 30px;
  padding-left: 30px;
}
.Preset__text {
  color: #3A5F56;
  padding-top: 6px;
  padding-left: 30px;
}
.Preset__store {
  display: flex;
}
.Preset__store-link {
  color: #3A5F56;
  padding-right: 7px;
}
.Preset__box2 {
  margin-top: 30px;
  margin-bottom: 100px;
}

.work {
  padding: 100px 600px;
}
.work__info {
  background-color: #F4F3F0;
  height: 259px;
  width: 800px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  align-content: space-between;
  position: relative;
  right: 350px;
}
.work__text {
  color: #292C32;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  margin: 80px;
}
.work__link {
  background-color: #3A5F56;
  display: flex;
  width: 125px;
  height: 28px;
  border-radius: 6px;
  font-size: 20px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 18px 25px;
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */